@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: black !important;
  --foreground: white;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: "black" !important;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.1em;
  font-size: 14px;
}
.mantine-Modal-root {
  transform: none !important;
}
